//Color Variables
$primary-color: #ffffff;
$primary-dark: #292e2c;
$secondary-dark:#494c4e;
$text-color: #7e9eb1;
$text-green: #7abc64;

//Height Variables
//HOMEPAGE
$hero-height: 600px;
$lesson-height: 500px